In [11]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import math
import re
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

----
# 1. Loading and Parsing Data

In [12]:
df = pd.read_csv('RLtest.csv', usecols=[1,2])

head() to see what the data looks like

In [13]:
df.head()

                  host  class
0    boqaypuwee.yi.org    dga
1           fotoev.com  legit
2       quickfever.com  legit
3  weareplaystation.fr  legit
4      bxorruxhlkcb.pw    dga

In [14]:
N = df.shape[0]
P = df.shape[1]

print('Data has {} rows, {} columns'.format(N, P))

Data has 10000 rows, 2 columns

In [15]:
df.dtypes

host     object
class    object
dtype: object

In [16]:
list(df)

['host', 'class']

In [17]:
def get_domain(host):
    fullstr = host.split('.')
    domain = fullstr[0]
    return domain

df['domain'] = df['host'].apply(get_domain)
df['domain'][0:5]

0          boqaypuwee
1              fotoev
2          quickfever
3    weareplaystation
4        bxorruxhlkcb
Name: domain, dtype: object

In [18]:
df[0:5]

                  host  class            domain
0    boqaypuwee.yi.org    dga        boqaypuwee
1           fotoev.com  legit            fotoev
2       quickfever.com  legit        quickfever
3  weareplaystation.fr  legit  weareplaystation
4      bxorruxhlkcb.pw    dga      bxorruxhlkcb

In [19]:
df['class'].unique()

array(['dga', 'legit'], dtype=object)

In [20]:
df.describe()

                     host  class     domain
count               10000  10000      10000
unique               9993      2       9986
top     pfeuaqnbfybyif.tw  legit  decathlon
freq                    2   5715          2

-----
## Exercise: load and parse 'domains.csv' - we will use this for testing later